// Mixins in here
.btn(@justify, @align){
    display: flex;
    justify-content: @justify;
    align-content: @align;
    background-color: @button-bg;
    color: white;
    font-size: 2rem;
    padding: 12px;
    border-radius: 15px;
    width: 80%;
     @media @mobile{
      width: 100%;
    }
}

.hover-animation-darken(@amount){
  &:hover {
    background-color: darken(@button-bg, @amount);
    transition: .3s;
    cursor: pointer;
  }
}