// Navigation Styles here
.header{
    border-bottom: 2px dashed silver;
    .navigation{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px auto 30px auto; 
    max-width: 800px;
    width: 100%;

        nav{
            display: flex;
            justify-content: space-between;

            a{
                font-size: 1.6rem;
                margin: 0px 20px;
                color: black;
                text-decoration: none;
            }
        }
    }
    img{
        width: 100%;
        max-width: 800px;
        margin: 0px auto 0px auto;
    }
}
